/* BUTTONS */
.share-btn-container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.share-btn-container a {
  padding: 12px;
  transition: 500ms;
}

@media (max-width: 550px) {
  .share-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    position: fixed;
    bottom: 0;
    padding: 0;
    top: unset;
    transform: unset;

    background: #fff;
    box-shadow: 4 0px 8px rgba(0, 0, 0, 0.3);
  }
  .share-btn-container a {
    margin: 0;
    padding: 10px;
  }
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}