@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
/* essa secao acima somente centralizou todos os nomes na esquerda */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
/* essa secao acima colocou os navlinks no meio, nome a esquerda e contact a direita tudo centralizado */
.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: grey;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: cornflowerblue;
}

